@use "../abstracts/animations";
@use "../abstracts/breakpoints";
@use "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;

  min-height: 100vh;

  text-rendering: optimizeSpeed;
  image-rendering: optimizeSpeed;

  background-color: variables.$color-blue;
}
main {
  background-color: variables.$color-white;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@include breakpoints.media(">=x-large") {
  html {
    font-size: clamp(1em, 1em + 2vw, 2.5em);
  }
}
