@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
.footer-link, .footer-socials-image, .testimonials-image, .button-contact, .nav-link, .hamburger-bar, .hamburger-bar:before, .hamburger-bar:after {
  transition: 400ms ease;
  transition-property: color, background-color, transform, filter;
}

/**
*
* Testing
*
**/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  image-rendering: optimizeSpeed;
  background-color: hsl(200deg, 100%, 62%);
}

main {
  background-color: hsl(0deg, 0%, 100%);
}

.resize-animation-stopper * {
  -webkit-animation: none !important;
          animation: none !important;
  transition: none !important;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media (min-width: 160rem) {
  html {
    font-size: clamp(1em, 1em + 2vw, 2.5em);
  }
}
.hamburger {
  cursor: pointer;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border: 0;
  display: flex;
  align-items: center;
}
@media (min-width: 48.01em) {
  .hamburger {
    display: none;
  }
}
.hamburger-bar {
  width: 100%;
  height: 1px;
  background-color: hsl(0deg, 0%, 100%);
  position: relative;
}
.hamburger-bar:before, .hamburger-bar:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: hsl(0deg, 0%, 100%);
  position: absolute;
  left: 0;
}
.hamburger-bar::before {
  top: 5px;
}
.hamburger-bar::after {
  top: -5px;
}
.hamburger[data-expanded=true] .hamburger-bar {
  background-color: transparent;
}
.hamburger[data-expanded=true] .hamburger-bar:before {
  transform: translateY(-5px) rotate(-45deg);
}
.hamburger[data-expanded=true] .hamburger-bar:after {
  transform: translateY(5px) rotate(45deg);
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav-link {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.5625rem;
  color: hsl(232deg, 10%, 55%);
  font-size: 1.25rem;
  letter-spacing: -0.14px;
}
@media (min-width: 48.01em) {
  .nav-link {
    color: hsl(0deg, 0%, 100%);
    font-size: 1.1875rem;
  }
}
@media (min-width: 85.385em) {
  .nav-link {
    font-size: 1.125rem;
    letter-spacing: -0.13px;
  }
}
.nav-link:hover {
  color: #bfbfbf;
}
@media (max-width: 47.99em) {
  .nav {
    z-index: 1000;
    transition: 400ms ease;
    transition-property: visibility, opacity;
  }
  .nav[data-expanded=false] {
    visibility: hidden;
    opacity: 0;
  }
  .nav[data-expanded=true] {
    visibility: visible;
    opacity: 1;
  }
  .nav-list {
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    height: 329px;
    background-color: hsl(0deg, 0%, 100%);
    position: fixed;
    top: 106px;
    left: 0;
    right: 0;
  }
  .nav-list::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    border-style: solid;
    border-width: 0 0 24px 24px;
    border-color: transparent transparent hsl(0deg, 0%, 100%);
  }
}
@media (min-width: 23.4475em) and (max-width: 47.99em) {
  .nav-list {
    margin-left: 2.5rem;
    margin-right: 3rem;
  }
}

.header {
  width: 100%;
  min-height: 33.625rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}
.header .background-desktop,
.header .background-mobile {
  z-index: -1000;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
.header .background-desktop {
  display: none;
  height: 50rem;
}
.header .background-mobile {
  height: 33.625rem;
}
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 7.7275em;
  height: 1.5em;
}
.header-heading {
  margin-top: 5.5rem;
  margin-bottom: 3.25rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(0deg, 0%, 100%);
  font-size: 2.5rem;
  letter-spacing: 6.25px;
}
@media (min-width: 48.01em) {
  .header-heading {
    font-size: 3rem;
    letter-spacing: 7.5px;
  }
}
@media (min-width: 85.385em) {
  .header-heading {
    font-size: 3.5rem;
    letter-spacing: 8.75px;
  }
}
.header-arrow-link {
  align-self: center;
}
.header-arrow-link:hover, .header-arrow-link:focus-within {
  transform: scale(1.1);
}
.header-arrow-link:active {
  transform: scale(1.1) translateY(0.5em);
}
.header-arrow-img {
  width: 2.25rem;
  height: 7.125rem;
}
@media (min-width: 23.4475em) {
  .header {
    min-height: 50rem;
    padding-left: 2.5rem;
    padding-right: 3rem;
    padding-top: 2.125rem;
  }
  .header .background-desktop {
    display: block;
  }
  .header .background-mobile {
    display: none;
  }
  .header-logo {
    width: 10.625rem;
    height: 2.0625rem;
  }
  .header-heading {
    margin-top: 6.5625rem;
    margin-bottom: 6.0338rem;
  }
}

.button-contact {
  cursor: pointer;
  color: hsl(212deg, 27%, 19%);
  background-color: hsl(51deg, 100%, 49%);
  width: 8.75rem;
  height: 3.5rem;
  border: 0;
  border-radius: 1.75rem;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: -0.11px;
}
.button-contact:hover, .button-contact:focus-within {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(200deg, 99%, 72%);
}
.button-contact:active {
  transform: translateY(0.5em);
}
@media (min-width: 48.01em) {
  .button-contact {
    background-color: hsl(0deg, 0%, 100%);
  }
}

.grid {
  text-align: center;
}
.grid-image {
  aspect-ratio: 1.2019230769;
  align-self: center;
  background-size: cover;
}
.grid-image-transform {
  background-image: url(../images/mobile/image-transform.jpg);
}
.grid-image-stand-out {
  background-image: url(../images/mobile/image-stand-out.jpg);
}
.grid-info {
  padding: 4em 1.5em;
}
.grid-heading {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212deg, 27%, 19%);
  font-size: 2rem;
  letter-spacing: -0.23px;
}
.grid-paragraph {
  margin-top: 1.5em;
  margin-bottom: 2em;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: hsl(232deg, 10%, 55%);
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: -0.13px;
}
.grid-link {
  position: relative;
  left: 0.75ch;
  z-index: 2;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212deg, 27%, 19%);
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  letter-spacing: 1px;
}
.grid-link::before {
  content: "";
  position: absolute;
  left: -0.5313rem;
  bottom: -3px;
  width: 8.5625rem;
  height: 0.625rem;
  border-radius: 0.3125rem;
  opacity: 0.25;
  z-index: -2;
}
.grid-link::after {
  content: "";
  position: absolute;
  left: -0.5313rem;
  bottom: -3px;
  width: 8.5625rem;
  height: 0.625rem;
  border-radius: 0.3125rem;
  z-index: -1;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right bottom;
  transition: 400ms ease;
  transition-property: opacity, transform;
}
.grid-link:hover::after {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: left bottom;
}
.grid-link-yellow::before, .grid-link-yellow::after {
  background-color: hsl(51deg, 100%, 49%);
}
.grid-link-red::before, .grid-link-red::after {
  background-color: hsl(7deg, 99%, 70%);
}
.grid-card {
  aspect-ratio: 0.625;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 3.6875rem;
}
.grid-card-heading {
  text-transform: capitalize;
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(167deg, 40%, 24%);
  font-size: 1.75rem;
  letter-spacing: -0.2px;
}
.grid-card-graphic-design {
  background-image: url(../images/mobile/image-graphic-design.jpg);
}
.grid-card-photography {
  background-image: url(../images/mobile/image-photography.jpg);
  color: hsl(198deg, 62%, 26%);
}
.grid-card-paragraph {
  margin-top: 1.6875rem;
  max-width: 21.1875rem;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.6875rem;
  letter-spacing: -0.11px;
  color: hsl(167deg, 40%, 24%);
}
@media (min-width: 48.01em) {
  .grid {
    display: grid;
    grid-template-areas: "info-transform img-transform" "img-stand-out info-stand-out" "card-graphic-design card-photography";
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
  .grid .grid-image-transform {
    grid-area: img-transform;
  }
  .grid .grid-info-transform {
    grid-area: info-transform;
  }
  .grid .grid-image-stand-out {
    grid-area: img-stand-out;
  }
  .grid .grid-info-stand-out {
    grid-area: info-stand-out;
  }
  .grid .grid-card-graphic-design {
    grid-area: card-graphic-design;
  }
  .grid .grid-card-photography {
    grid-area: card-photography;
  }
  .grid-heading {
    font-size: 2.25rem;
    letter-spacing: -0.26px;
    text-align: left;
  }
  .grid-image {
    max-width: 50vw;
    aspect-ratio: 1.2;
  }
  .grid-image-transform {
    background-image: url(../images/desktop/image-transform.jpg);
  }
  .grid-image-stand-out {
    background-image: url(../images/desktop/image-stand-out.jpg);
  }
  .grid-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid-info-container {
    max-width: 27.8125rem;
  }
  .grid-paragraph {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }
  .grid-card {
    aspect-ratio: 1.2;
    background-position: center;
    padding: 1em;
  }
  .grid-card-graphic-design {
    background-image: url(../images/desktop/image-graphic-design.jpg);
  }
  .grid-card-photography {
    background-image: url(../images/desktop/image-photography.jpg);
  }
  .grid-card-container {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 85.385em) {
  .grid-heading {
    font-size: 2.5rem;
    letter-spacing: -0.29px;
  }
  .grid-info-container {
    margin-bottom: 1px;
  }
  .grid-info-container-left {
    margin-left: 3.4375rem;
  }
  .grid-info-container-right {
    margin-right: 3.4375rem;
  }
  .grid-card {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 3.6875rem;
  }
}

.gallery-mobile {
  display: flex;
  flex-wrap: wrap;
}
.gallery-image {
  width: 50vw;
}
.gallery-desktop {
  display: none;
}
@media (min-width: 23.4475em) {
  .gallery-desktop {
    display: flex;
  }
  .gallery-image {
    width: 25vw;
  }
  .gallery-mobile {
    display: none;
  }
}

.testimonials {
  padding-top: 4rem;
  padding-bottom: 5.375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.testimonials-heading {
  margin-bottom: 4em;
  text-align: center;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(210deg, 4%, 67%);
  font-size: 1rem;
  letter-spacing: 4px;
}
.testimonials-paragraph {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: hsl(213deg, 9%, 39%);
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: -0.13px;
}
.testimonials-author-name {
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212deg, 27%, 19%);
  font-size: 1.125rem;
  letter-spacing: -0.13px;
}
.testimonials-author-job {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: hsl(210deg, 4%, 67%);
  font-size: 0.875rem;
  letter-spacing: -0.1px;
  line-height: 1.5625rem;
}
.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}
.testimonials-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.testimonials-image {
  cursor: pointer;
  width: 4.5rem;
  height: auto;
  border-radius: 50%;
}
.testimonials-image:hover {
  transform: scale(1.25);
}
.testimonials-author-job {
  margin-top: 0.5625rem;
}
@media (min-width: 23.4475em) {
  .testimonials-heading {
    font-size: 1.125rem;
    letter-spacing: 4.5px;
  }
  .testimonials-card {
    max-width: 21.875rem;
    gap: 3.625rem;
  }
}
@media (min-width: 48.01em) {
  .testimonials {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .testimonials-heading {
    margin-bottom: 5.0625rem;
    font-size: 1.25rem;
    letter-spacing: 5px;
  }
  .testimonials-container {
    flex-direction: row;
    justify-content: center;
    gap: 1.875rem;
  }
  .testimonials-author {
    margin-top: 0.6875rem;
    margin-right: 1.5ch;
  }
}

.footer {
  padding-top: 4em;
  padding-left: 2.4375rem;
  padding-right: 2.4375rem;
  padding-bottom: 5rem;
  background-color: hsl(168deg, 44%, 70%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  width: 10.625rem;
  height: 2.0625rem;
  position: relative;
  right: 1ch;
}
.footer-links {
  margin-top: 2.5rem;
  margin-bottom: 5.5rem;
  list-style: none;
  display: flex;
  gap: 3.5625rem;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: -0.13px;
  line-height: 1.5625rem;
}
.footer-link {
  color: hsl(168deg, 34%, 41%);
  text-decoration: inherit;
}
.footer-link:hover {
  filter: brightness(500%);
}
.footer-socials {
  list-style: none;
  display: flex;
  gap: 1.75rem;
}
.footer-socials-image {
  width: 1.25rem;
  height: auto;
}
.footer-socials-image:hover {
  filter: brightness(500%);
  transform: scale(1.25);
}
@media (min-width: 23.4475em) {
  .footer {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}/*# sourceMappingURL=main.css.map */